//- includes/chats.pug
-
  const chats = [
    {
      name: "Вениамин Редакторович",
      time: "11:45",
      message: "o_O",
      avatar: "images/avatar_4.jpg"
    },
    {
      name: "Джедай Падаванов",
      time: "10:12",
      message: "Привет, скоро третий проект? Уже скоро надо будет выложить",
      avatar: "images/avatar_2.jpg"
    },
    {
      name: "Алексей Примадонин",
      time: "08:53",
      message: "Тесты упали >_<",
      avatar: "images/avatar_3.jpg"
    },
  ]

.d-flex.flex-column.h-100
  header  
    h1.h2.fw-bold.mb-4 Чаты
    +search-panel('Поиск по сообщениям')
  .chat-list.hide-scrollbar 
    each chat in chats    
      .card.shadow-sm.border-0.mb-3
        a.text-decoration-none(href='#')
          .row.m-0.flex-nowrap
            .col-auto.ps-3.d-flex.align-items-center
              img.rounded-circle(src=chat.avatar, alt=chat.avatar.slice(9), width='50')
            .col.pe-4.overflow-hidden
              .card-body.py-4.ps-0
                .d-flex.justify-content-between
                  h3.card-title.h6.lh-base.fw-bold.m-0= chat.name
                  p.text-secondary.small.m-0= chat.time
                p.text-secondary.small.text-truncate.m-0= chat.message
